{% extends "DezullHelpBundle::base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/dezullhelp/css/reset.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/dezullhelp/css/layout.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="bodyWrapper">
        <a id="topAnchor" href="#header">top</a>
        <div id="header">
            {% block header %}
                <h1>Documentation</h1>
            {% endblock %}
        </div>
        <div id="contentWrapper">
            {% block contentWrapper %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                <div>Copyright &copy;</div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
