{% extends "DezullHelpBundle::layout.html.twig" %}

{% block contentWrapper %}
    <div id="sidebar">
        {% block sidebar %}
            {% set selectTopicId = topic is not null ? topic.id : null %}
            {% render "DezullHelpBundle:Browser:topicTree" with { selectTopicId: selectTopicId } %}
        {% endblock %}
    </div>
    <div id="content">
        {% if topic is not null %}
            <h1>{{ topic.title }}</h1>
            <div class="topicContent">
                {{ topic.content|raw }}
            </div>
        {% else %}
            <h1>Help Browser</h1>
            <p>Choose a topic from the left sidebar</p>
        {% endif %}
    </div>
{% endblock %}
