{% extends "DezullHelpBundle::layout.html.twig" %}

{% block content %}
    {% if topic is not null %}
        <h2>{{ topic.title }}</h2>
        <div class="topicContent">
            {{ topic.content|raw }}
        </div>
    {% else %}
        <h2>Help Browser</h2>
        <p>Choose a topic from the left sidebar</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque purus ante, luctus vel condimentum nec, aliquam ac libero. Cras a leo ipsum, sed accumsan purus. Nullam dui est, gravida id porta sit amet, tempus vitae diam. Nunc aliquam nibh quis nibh ornare accumsan. Maecenas sollicitudin odio non sem auctor blandit. Proin quis auctor lorem. Cras ante dui, congue sed faucibus vel, hendrerit a eros.</p>

        <p>Praesent ut metus id nulla rhoncus tempus in eget erat. Duis volutpat ligula eget metus viverra lacinia. Curabitur eu velit lacus. Morbi tempus magna quis sem vulputate auctor. Sed varius dictum fermentum. Praesent lobortis, orci vitae adipiscing ornare, lorem ligula molestie massa, pretium congue sapien mi et lacus. Aliquam nibh nulla, accumsan at accumsan vel, pharetra hendrerit nisl. Sed augue libero, aliquam sed pellentesque a, sollicitudin id risus. Fusce       interdum</p>

        <p>Praesent ut metus id nulla rhoncus tempus in eget erat. Duis volutpat ligula eget metus viverra lacinia. Curabitur eu velit lacus. Morbi tempus magna quis sem vulputate auctor. Sed varius dictum fermentum. Praesent lobortis, orci vitae adipiscing ornare, lorem ligula molestie massa, pretium congue sapien mi et lacus. Aliquam nibh nulla, accumsan at accumsan vel, pharetra hendrerit nisl. Sed augue libero, aliquam sed pellentesque a, sollicitudin id risus. Fusce       interdum</p>

        <p>Praesent ut metus id nulla rhoncus tempus in eget erat. Duis volutpat ligula eget metus viverra lacinia. Curabitur eu velit lacus. Morbi tempus magna quis sem vulputate auctor. Sed varius dictum fermentum. Praesent lobortis, orci vitae adipiscing ornare, lorem ligula molestie massa, pretium congue sapien mi et lacus. Aliquam nibh nulla, accumsan at accumsan vel, pharetra hendrerit nisl. Sed augue libero, aliquam sed pellentesque a, sollicitudin id risus. Fusce       interdum</p>

        <p>Praesent ut metus id nulla rhoncus tempus in eget erat. Duis volutpat ligula eget metus viverra lacinia. Curabitur eu velit lacus. Morbi tempus magna quis sem vulputate auctor. Sed varius dictum fermentum. Praesent lobortis, orci vitae adipiscing ornare, lorem ligula molestie massa, pretium congue sapien mi et lacus. Aliquam nibh nulla, accumsan at accumsan vel, pharetra hendrerit nisl. Sed augue libero, aliquam sed pellentesque a, sollicitudin id risus. Fusce       interdum</p>

        <p>Praesent ut metus id nulla rhoncus tempus in eget erat. Duis volutpat ligula eget metus viverra lacinia. Curabitur eu velit lacus. Morbi tempus magna quis sem vulputate auctor. Sed varius dictum fermentum. Praesent lobortis, orci vitae adipiscing ornare, lorem ligula molestie massa, pretium congue sapien mi et lacus. Aliquam nibh nulla, accumsan at accumsan vel, pharetra hendrerit nisl. Sed augue libero, aliquam sed pellentesque a, sollicitudin id risus. Fusce       interdum</p>

        <p>Praesent ut metus id nulla rhoncus tempus in eget erat. Duis volutpat ligula eget metus viverra lacinia. Curabitur eu velit lacus. Morbi tempus magna quis sem vulputate auctor. Sed varius dictum fermentum. Praesent lobortis, orci vitae adipiscing ornare, lorem ligula molestie massa, pretium congue sapien mi et lacus. Aliquam nibh nulla, accumsan at accumsan vel, pharetra hendrerit nisl. Sed augue libero, aliquam sed pellentesque a, sollicitudin id risus. Fusce       interdum</p>

        <p>Praesent ut metus id nulla rhoncus tempus in eget erat. Duis volutpat ligula eget metus viverra lacinia. Curabitur eu velit lacus. Morbi tempus magna quis sem vulputate auctor. Sed varius dictum fermentum. Praesent lobortis, orci vitae adipiscing ornare, lorem ligula molestie massa, pretium congue sapien mi et lacus. Aliquam nibh nulla, accumsan at accumsan vel, pharetra hendrerit nisl. Sed augue libero, aliquam sed pellentesque a, sollicitudin id risus. Fusce       interdum</p>

    {% endif %}
{% endblock %}
