<ul>
{% for category, topics in tree %}
    <li>
        <h4>{{ category }}</h4>
        <ul>
            {% for topic in topics %}
                <li><a href="{{ path('dezull_help_browser_index', {title: topic.title }) }}">{{ topic.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
