<ul class="category">
    {% for category, topics in tree %}
        <li>
            <span class="categoryTitle">{{ category }}</span>
            <ul class="topic">
                {% for topic in topics %}
                    {% if selectTopicId == topic.id %}
                        <li class="current">{{ topic.title }}</li>
                    {% else %}
                        <li><a href="{{ path('dezull_help_browser_topic', {title: topic.title }) }}">{{ topic.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
