#bodyWrapper {
}

#header {
    background-color: #FFCCCC;
    border-bottom: 1px solid #999;
    position: relative;
    z-index: 9999;
}

#header h1 {
    margin: 0;
    padding: 10px 5px;
}

#topAnchor {
    background-color: #FFCCCC;
    padding: 4px 10px;
    position: fixed;
    border-radius: 0 0 0 5px;
    top: 0;
    right: 0;
    z-index: 1;
}

#footer {
    float: left;
    width: 100%;
    background-color: #ddd;
    clear: both;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

#contentWrapper {
    float: left;
}

#content {
    padding: 10px 20px;
    margin-left: 220px;
    border-left: 2px solid #999;
}

#sidebarGradient {
    background: -moz-linear-gradient(left,  rgba(255,204,204,0.65) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,204,204,0.65)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,204,204,0.65) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,204,204,0.65) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,204,204,0.65) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,204,204,0.65) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffcccc', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

#sidebar {
    border-right: 2px solid #999;
    position: relative;
    float: left;
    width: 220px;
}
